.product-container{
    display: flex;
    margin: 8px;
    border: 2px solid black;
    box-shadow: 5px 5px 4px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(252,70,107,1);
    border-radius: 10%;

    .wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-items: center;
        margin: 5px;
        border-radius: 10%;
        border-top-left-radius: 45%;
        border-top-right-radius: 45%;

        background: rgb(63,94,251);
        background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
        background-blend-mode: darken;


        .inner-data-container{
            display: flex;
            justify-content: space-between;
            margin-bottom: 5px;

            .left-container{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                .left-text{
                    font-weight: bold;
                    color: white;
                }
            }
    
            .right-container{
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                .product-category{
                    max-width: 4.5vw;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: white;
                }
                .product-color{
                    max-width: 4.5vw;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: white;
                }
                .product-price{
                    max-width: 4.5vw;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: white;
                    font-weight: bold;
                }
            }
        }


        .product-img{

            border-radius: 50%;

            width: 21vh;
            height:21vh;
            object-fit: cover;

            transition: all 0.3s ease-in-out;

            &:hover{
                width: 30vh;
                height: 30vh;
                border: 3px solid red;
                border-radius: 5%;
                // object-fit: scale-down;
            }
        }
        .product-title{
            text-align: center;
            font-weight: bold;
            margin-bottom: 5px;
            max-width: 8vw;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: white;
          
        }
        .add-to-list{
            border: none;
            padding: 5px;
            background-color: teal;
            border-radius: 5px;
            cursor: pointer;
            color: white;
            font-size: 16px;
            transition: all 0.3s ease-in-out;

            &:hover{
                padding: 10px;
                font-weight: bold;
            }
        }
    }
}