.main-container{
    display: flex;

    .home{
        flex: 2;
        display: flex;
        width: 100%;
        justify-content: space-between;
    
        .product-filter-container{
            display: flex;
            flex-direction: column;
        }
    }
}