$textColor: rgb(63, 62, 62);

a{
    text-decoration: none;
    color: rgb(0, 123, 255);
    font-weight: bold;
}

.sidebar{
    flex: 1;
    height: calc(100vh - 40px);
    background-color: rgb(251, 251, 255);
    position: sticky;
    top: 40px;
    max-width: 10%;


    .sidebarWrapper{
        padding: 20px;
        color: #555;

        .sidebarMenu{
            margin-bottom: 10px;

            .sidebarTitle{
                font-size: 15px;
                font-weight: bold;
                color: rgb(0, 0, 0);
                text-decoration: underline;
                text-decoration-color: red;
            }

            .sidebarList{
                list-style: none;
                padding: 5px;

                .sidebarListItem{
                    padding: 5px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    border-radius: 10px;
                }

                .sidebarListItem.active,
                .sidebarListItem:hover {
                    background-color: rgb(228, 228, 250);
                }
            }
        }
    }
}